/* general */
*.pyc

/* weechat */
weechat/.weechat/irc.conf
weechat/.weechat/logs/**
weechat/.weechat/weechat.log
weechat/.weechat/urls.log
weechat/.weechat/weechat_crash_**
weechat/.weechat/script/plugins.xml.gz

/* tmux_plugins */
tmux/.tmux/plugins/**
tmux/.tmux/resurrect/**

/* vim plugins */
vim/.vim/bundle/**
vim/.ctags
vim/.vim/.netrwhist

/* ranger */
ranger/.config/ranger/plugins/__pycache__/**

/* pianobar */
pianobar/.config/pianobar/config
pianobar/.config/pianobar/proxy*
pianobar/.config/pianobar/scrobble.py
pianobar/.config/pianobar/state
pianobar/.config/pianobar/lyrics.sh
