/* URxvt*font:             xft:Source Code Pro for Powerline:size=14:antialias=true,\ */
/*                         xft:SauceCodePro Nerd Font:antialias=true:size=8 */

URxvt.font: xft:Iosevka:size=14
URxvt*boldFont: xft:Iosevka:style=bold:size=14
URxvt*italicFont: xft:Iosevka:style=italic:size=14
URxvt*imFont: xft:Iosevka:style=italic:size=14
URxvt*boldItalicFont: xft:Iosevka:style=medium:size=14

URxvt.letterSpace           :   0
URxvt*skipScroll            :   true
/* Transparency */
URxvt*transparent           :   true
URxvt*shading               :   10
/* Behavior */
URxvt*cursorBlink           :   true
URxvt*scrollTtyOutput       :   false
URxvt*scrollWithBuffer      :   false
URxvt*scrollTtyKeypress     :   true
URxvt*scrollBar             :   false
URxvt*visualBell            :   false
URxvt*fading                :   10
/* Bindings */
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
/* Tmux Compatibility */
URxvt*loginShell            :   true
URxvt*termName              :   screen-256color
! perl extensions
URxvt*perl-ext              :   default,url-select
URxvt*perl-ext-common       :   default,resize-font,clipboard
/* matcher */
/* URxvt.url-launcher          :   /usr/bin/xdg-open */
/* URxvt.matcher.button        :   1 */
/* URxvt.matcher.rend.0        :   Uline Bold fg5 */
/* URxvt.keysym.C-Delete       :   perl:matcher:last */
/* URxvt.keysym.M-Delete       :   perl:matcher:list */
/* url-select */
URxvt.keysym.M-u            :   perl:url-select:select_next
URxvt.url-select.launcher   :   /usr/bin/xdg-open
URxvt.url-select.underline  :   true
URxvt.keysym.M-c            :   perl:clipboard:copy
URxvt.keysym.M-v            :   perl:clipboard:paste
URxvt.keysym.M-C-v          :   perl:clipboard:paste_escaped
URxvt.clipboard.autocopy    :   true
URxvt.clipboard.copycmd     :   xclip -i -selection clipboard
URxvt.clipboard.pastecmd    :   xclip -o -selection clipboard

/* ! Monokai color scheme */
! X colors.
! Generated by 'wal'
*foreground:        #f1ebeb
*background:        #272822
*.foreground:       #f1ebeb
*.background:       #272822

URxvt*foreground:   #f1ebeb
URxvt*background:   [100]#272822
URxvt*cursorColor:  #fa2772
URxvt*borderColor:  [100]#272822

XTerm*foreground:   #f1ebeb
XTerm*background:   #272822
XTerm*cursorColor:  #fa2772

UXTerm*foreground:  #f1ebeb
UXTerm*background:  #272822
UXTerm*cursorColor: #fa2772

! Colors 0-15.
*.color0: #48483e
*color0:  #48483e
*.color1: #dc2566
*color1:  #dc2566
*.color2: #8fc029
*color2:  #8fc029
*.color3: #d4c96e
*color3:  #d4c96e
*.color4: #55bcce
*color4:  #55bcce
*.color5: #9358fe
*color5:  #9358fe
*.color6: #56b7a5
*color6:  #56b7a5
*.color7: #acada1
*color7:  #acada1
*.color8: #76715e
*color8:  #76715e
*.color9: #dc2566
*color9:  #dc2566
*.color10: #8fc029
*color10:  #8fc029
*.color11: #d4c96e
*color11:  #d4c96e
*.color12: #55bcce
*color12:  #55bcce
*.color13: #9358fe
*color13:  #9358fe
*.color14: #56b7a5
*color14:  #56b7a5
*.color15: #acada1
*color15:  #acada1

/* ! Black color that will not be affected by bold highlighting. */
*.color66: #48483e
*color66:  #48483e

/* ! Xclock colors. */
XClock*foreground: #f1ebeb
XClock*background: #272822
XClock*majorColor:  rgba:ac/ad/a1/ff
XClock*minorColor:  rgba:ac/ad/a1/ff
XClock*hourColor:   rgba:ac/ad/a1/ff
XClock*minuteColor: rgba:ac/ad/a1/ff
XClock*secondColor: rgba:ac/ad/a1/ff
